# Database Configuration
DB_URL=jdbc:mysql://localhost:3306/digitalmarriagedb_v2?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC
DB_USER=root
DB_PASS=your_password

# Email Configuration
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-google-app-password

# Application Configuration
APP_URL=http://localhost:8081

